.title {
  background: var(--c1);
  color: var(--c2);
  font-size: 1.25rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: var(--border-radius-1);
  margin-right: 2rem;
  letter-spacing: 1px;
}
.span {
  display: inline-block;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  width: 55px;
  height: 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #01b4e4, #90cea1);
  background: #01b4e4;
  display: none;
}
