.title {
  background: var(--c1);
  color: var(--c2);
  padding: 0.15rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--border-radius-1);
  margin-right: 2rem;

  /* background: linear-gradient(to right, #90cea1, #01b4e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.span {
  display: inline-block;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  width: 55px;
  height: 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #01b4e4, #90cea1);
  background: #01b4e4;
  display: none;
}
