.trending_options_container {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}
.trending_text {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 1rem;
}
.trending_options {
  position: relative;
  /* background: var(--c3); */
  padding: 0.15rem;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 0 0 2px var(--c3);
}
.trending_options span {
  color: var(--c1);
  color: var(--c3);
  font-weight: 600;
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 0.25rem 0;
}
.trending_options span:last-child {
  background: var(--c3);
  /* background: linear-gradient(to right bottom, #90cea1 25%, #01b4e4); */
  color: #fff;
  position: absolute;
  transform: translateX(-199%);
  transition: all 0.3s ease;
  border-radius: 50px;
  font-weight: 500;
}
